@{
    ViewData["Title"] = "Vantagens";
    Layout = "_Layout";
}
@inject SistemaMoedas.Controllers.UsuarioSessionController usuarioSessionController
@model SistemaMoedas.Model.ListarVantagemModel;

@{
    var usuarioLogado = usuarioSessionController.RetornarUsuarioSessao();
    if(usuarioLogado.TipoUsuario == SistemaMoedas.Constantes.Constantes.TiposUsuarios.Parceiro)
    {
        <button class="modalVantagem" data-bs-toggle="modal" data-bs-target="#modalVantagem" style="background-color: #6f42c1; color: #fff; border: 0px; border-radius: 8px; padding: 8px; margin-top:20px;">+ Incluir vantagem</button>
    }
}

<table class="table table-bordered border-primary" style="margin-top: 20px;">
    <thead style="background-color: #6f42c1; color: #fff;">
        <tr>
            <th scope="col" style="color: #fff;">#</th>
            <th scope="col" style="color: #fff; width: 200px; max-width: 200px;">Foto</th>
            <th scope="col" style="color: #fff;">Titulo</th>
            <th scope="col" style="color: #fff;">Descrição</th>
            <th scope="col" style="color: #fff;">Valor</th>
            @{
                if (usuarioLogado.TipoUsuario == SistemaMoedas.Constantes.Constantes.TiposUsuarios.Aluno)
                {
                    <th scope="col" style="color: #fff;">Ações</th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var vant in Model.ListaVantagens)
        {
            <tr>
                <th scope="row">@vant.CodigoVantagem</th>
                <td><img style="max-width: 100%; object-fit: cover !important;" src="@Url.Action("ObterImagem", "Vantagem", new { id = vant.CodigoVantagem })" alt="Imagem do Produto" /></td>
                <td>@vant.TituloVantagem</td>
                <td>@vant.DescricaoVantagem</td>
                <td>@vant.ValorVantagem</td>
                
                    @{
                        if(usuarioLogado.TipoUsuario == SistemaMoedas.Constantes.Constantes.TiposUsuarios.Aluno)
                        {
                            <td>
                            <button vantagem-codigo="@(vant.CodigoVantagem)" data-codigo="@(usuarioLogado.IdUsuario)" class="comprarVantagem" data-bs-toggle="modalComprar" data-bs-target="#modalComprar" style="background-color: #6f42c1; color: #fff; border: 0px; border-radius: 8px; padding: 8px;">Comprar</button>
                            </td>
                        }
                    }
                    
                
            </tr>
        }
    </tbody>
</table>

<!--Modal-->
<div class="modal fade" id="modalVantagem" tabindex="-1" aria-labelledby="modalVantagem" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="">Cadastrar vantagem</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 class="">Selecione a imagem</h6>
                <input id="imagemVantagem" type="file" class="form-control"></input>
            </div>
            <div class="modal-body">
                <h6 class="">Digite o nome da vantagem</h6>
                <input id="nomeVantagem" type="text" class="form-control"></input>
            </div>

            <div class="modal-body">
                <h6 class="">Digite a descrição da vantagem</h6>
                <input id="descricaoVantagem" type="text" class="form-control"></input>
            </div>

            <div class="modal-body">
                <h6 class="">Digite o valor da vantagem</h6>
                <input id="valorVantagem" type="number" class="form-control"></input>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="criarVantagem">Salvar</button>
            </div>
        </div>
    </div>
</div>


<!--Modal confirmação-->
<div class="modal fade" id="modalComprar" tabindex="-1" aria-labelledby="modalComprar" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="">Comprar vantagem</h1>
                <p>Deseja comprar a vantagem?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="confirmarCompraVantagem">Comprar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/vantagem.js"></script>
}
